name: Update gist

on:
  push:
    branches:
      - master           
  schedule:
    - cron: "0 15 * * *" 

jobs:
  update-gist:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      ACTIONS_STEP_DEBUG: true
      ACTIONS_RUNNER_DEBUG: true

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'   

      - name: Update gist
        uses: maxam2017/productive-box@v2.6.0   
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }} 
          GIST_ID: ${{ secrets.GIST_ID }}        
          TIMEZONE: 'Asia/Seoul'
